
<ng-container *ngIf="!logged">
  <div class="all_page">
    <div class="login">
      <h2 id="login">Please,write...</h2>
        <input type="text" id="username" placeholder="username" [(ngModel)]="login">
        <input type="text" id="username" placeholder="password" [(ngModel)]="password">
        <div class="logging">
          <button id="loginbtn" (click)="auth()">LOG IN</button>
        </div>
    </div>
    <div class="outing">
        <button id="outing" [routerLink]="['']">BACK</button>
      </div>
  </div>
</ng-container>


<ng-container *ngIf="logged">
    <div class="header">
      <h1>HELLO</h1>
    </div>
    <div class="middle">
      <div class="userprofile">
        <h2 style="text-align: center">USERPROFILE</h2>
        <ul>
          <li>{{ userProfile[0].user.username }}</li>
          <li> {{ userProfile[0].mobile }}</li>
          <li>{{ userProfile[0].website }}</li>
          <li>{{ userProfile[0].join_date }}</li>
        </ul>
      </div>
      <div class="userbooks">
        <div class="row">
          <div class="column" *ngFor="let u of userbooks">
              <div class="content">
                  <img style="margin-top:10px;width:120px" src="https://cdn.shopify.com/s/files/1/0882/3478/files/Book_7fce494e-606f-43d0-89a2-51b698aa3369_1400x.png?v=1553019482">
                  <div class="bookdesc">
                    <ul>
                      <li id="b" style="text-transform:uppercase;color:rgba(80, 1, 1, 0.7)">{{ u.title }}</li>
                      <li id="b">{{ u.category.name }}</li>
                      <li id="b">{{ u.year }}</li>
                      <li id="b">{{ u.author.name+' '+u.author.surname}}</li>
                      <li id="b">{{ u.page_amount }}</li>
                    </ul>
                  </div>
                </div> 
               
          </div>
        </div>
      </div>
    </div>

    <button id="logout" (click)="logout()">Log Out </button>
  </ng-container>
