.all_page{
   border:0 solid black;
   height: 750px;
   width:1510px;
   border-radius: 20px;
   background-image: url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
}
.login{
    position: absolute;
    border:0 solid black;
    height:300px;
    width:300px;
    background-color:rgba(252, 236, 236, 0.5);
    border-radius: 20px; 
    top:150px;
    left:600px;
}
#login{
    text-align: center;
    color:black;
    
}
#username{
    font-family: Poppins-Regular;
    font-size: 20px;
    color:whitesmoke;
    line-height: 1.2;
    display: block;
    width: 80%;
    height: 30px;
    background: transparent;
    padding: 0 5px;
    margin-left:20px;
    outline: none;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-top:20px;
}
.logging{
    border:0 solid black;
    margin-top:30px;
}
#loginbtn{
    margin-left:20px;
    width:250px;
    height:40px;
    border-radius:15px;
    color: black;
    font-size: 20px;
    background:rgba(0,0,0,0.5);
    font-family: Poppins-Regular, sans-serif;
    font-weight: 600;
}
.header{
    border:0 solid black;
    height: 10%;
    width:100%;
    text-align: center;
    background-color:rgba(19, 58, 8, 0.8);
    padding-top:20px;
    
    color:white;
    border-radius: 10px;
}
.middle{
    border: 0 solid black;
    height:600px;
    width:100%;
    border-radius: 10px;
    background-image: url('https://images.unsplash.com/photo-1518180013386-746fb077171b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')
}
.userprofile{
    position: absolute;
    border:0 solid black;
    border-radius: 10px;
    height:250px;
    width:300px;
    margin-left:20px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    color:rgba(58, 35, 8, 0.8);
    text-shadow: firebrick;
}
li{
    left:10px;
    text-transform: uppercase;
    border:0 solid black;
    margin-top:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgba(19, 58, 8, 0.8);
}
.userbooks{
    border: 0 solid black;
    background-color: rgba(255, 255, 255, 0.9);
    width:1100px;
    height:250px;
    margin-left:400px;
    position: relative;
    top:15px;
    border-radius: 10px;
    overflow: scroll;
    display: inline-block;

}
.content{
    border:0 solid black;
    
    height: 150px;
    width: 270px;
    margin-top:20px;
    margin-left:40px;
    border-radius: 10px;
    color:black;
    transition: transform .2s; 
}
.content:hover{
    background-color:rgba(0,0,0,0.3);
    transform: scale(1.2); 
}
.bookdesc{
    position: relative;
    margin-top:-120px;
    margin-left:100px;
}
::-webkit-scrollbar{
    background-color:rgba(139, 129, 129, 0.7);
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
    background: rgba(2, 49, 2, 0.5);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-corner{
      background-color: blanchedalmond;
      
  }
  .row{
      margin:8px -16px;
  }
  .row,
  .row>.column{
      padding:8px;
  }
  .column{
      float:left;
  }
  #b{
      margin-top:5px;
      font-size: 10px;
  }

  #logout{
      background-color: rgba(19, 58, 8, 0.8);
      color:white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      width:80px;
      height: 30px;
      border-radius: 5px;
      margin-left:1400px;
      
  }
  #outing{
    top:700px;
    left:700px;
    color:white;
    width:100px;
    margin-left:700px;
    margin-top:700px;
    background-color: rgba(19, 58, 8, 0.8);
    height: 30px;
    border-radius: 5px;
  }