
<ng-container *ngIf="logged">
  <div class="all_page">
    <div class="login">
      <h2 id="login">Please,write...</h2>
        <input type="text" id="username" placeholder="username">
        <input type="password" id="username" placeholder="password">
        <div class="logging">
          <button id="loginbtn" (click)="auth()"><a style="text-decoration: none;color:black;" [routerLink]="'/easyLib'">LOG IN</a></button>
        </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="!logged">
    <h1>Books you have</h1>
    <div *ngFor = "let b of books">
      <input type="text" [(ngModel)]="b.title">
    </div>
  </ng-container>
