<div class="head">
  <h1>WELCOME TO EASYLIB!</h1>
  <button id="login"><a style="text-decoration: none;color: white"[routerLink]="'/login'">Log in</a></button>
</div>
<div class="welcome_page"> 
  <div class="categories">
    <h2 style="text-align: center;color:brown;">Genres</h2>
    <div *ngFor = "let c of categories">
        <!-- <input type="text" [(ngModel)]="c.name">
         -->
        <a href="#" id="genres" >{{c.name}}</a>
    </div>
  </div> 
  <div class="authors">
    <h2 style="text-align: center;color:brown;">Authors</h2>
    <div *ngFor="let a of authors">
      <a href="#" id="authors">{{a.name+' '+a.surname}}</a>
    </div>
  </div>
  <div class="search">
    <input id="searchtwo" placeholder="search">
  </div>
  <button id="search">Search</button>
  <div class="books">
      <div class="aboutbook" *ngFor="let b of books">
          <!-- <img src="{{ b.image.url }}" alt="img"> -->
          <img style="margin-top:10px;width:120px" src="https://cdn.shopify.com/s/files/1/0882/3478/files/Book_7fce494e-606f-43d0-89a2-51b698aa3369_1400x.png?v=1553019482">
          <div class="bookdesc">
            <a style=" position:relative;margin-left:25px;text-transform: uppercase">{{b.title}}</a><br>
            <a style="margin-left:10px">Genre:{{b.category}}</a><br>
            <a style="margin-left:10px">Year:{{b.year}}</a><br>
            <a style="margin-left:10px">Auhtor:{{b.author}}</a><br>
            <a style="margin-left:10px">Pages:{{b.page_amount}}</a><br>
          </div>
      </div>
  </div>
</div>
<div class="footer">
  <h3 id="about_us">ABOUT US</h3>
  <a id="privacy" href="#">Privacy</a>
  <a id="faq" href="#">FAQ</a>
  <a id="contactus" href="#">Contact us</a>
</div>

