<div class="head">
  <h1>WELCOME TO EASYLIB!</h1>
  <button id="login"><a style="text-decoration: none;color: white"[routerLink]="'/login'">Log in</a></button>
</div>
<div class="welcome_page"> 
  <div class="categories">
    <h2 style="text-align: center;color:brown;">Genres</h2>
    <div *ngFor = "let c of categories">
        <!-- <input type="text" [(ngModel)]="c.name">
         -->
        <a href="#" id="genres" >{{c.name}}</a>
    </div>
  </div> 
  <div class="authors">
    <h2 style="text-align: center;color:brown;">Authors</h2>
    <div *ngFor="let a of authors">
      <a href="#" id="authors">{{a.name+' '+a.surname}}</a>
    </div>
  </div>
  <div class="search">
    <input id="searchtwo" placeholder="search">
  </div>
  <button id="search">Search</button>
</div>
<div class="footer">
  <h3 id="about_us">ABOUT US</h3>
  <a id="privacy" href="#">Privacy</a>
  <a id="faq" href="#">FAQ</a>
  <a id="contactus" href="#">Contact us</a>
</div>

